/*---@MEDIA SCREEN  1440px ---*/
@media screen and (max-width: 1440px) {

    .logotype1 {
        display: none;
    }
    .logotype1:before {
        top: 0px;
        width: 45px;
        height: 49px;
    }

    .logotype1, .logotype1:hover, .logotype1 div {
    font-size: 23px;
   }
   .logotype1 b {
    font-size: 30px;
   }
   .menu>li {
        margin: 0; 
        overflow: hidden;
    }
    .contacts-section-whatsapp > a {
        font-size: 13px;
    }

    .contacts-section-whatsapp > svg {
        margin-right: 10px;
    }
    .contacts-section__phone-text > a {
        font-size: 13px;
    }
    
    .header-nav {
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .header-nav_menu>ul>li:not(:first-child) {
        margin-left: 27.09px;
        line-height: 13px;
        padding-right: 10px;
    }
    .block-like {
        margin-right: 30px;
    }
    .block-safety {
        margin-right: 30px;
    }
    .header-banner__content>h1 {
        font-size: 28px;
    }

    .block-like {
        margin-left: 195px;
    }

    .block-comfort {
        margin-right: 75px;
    }
  }
  /*---@MEDIA SCREEN  1440px ---*/

  /*--- @ MEDIA SCREEN 1024px ---*/
  @media screen and (max-width: 1024px) {
    .contacts_section_btn {
        margin-left: 25px;
        margin-right: 40px;
    }

    .header-nav_menu {
        display: flex;
        justify-content: center;
        flex-grow: 0;
    }

    .header-nav_menu>ul {
        display: flex;
        margin-left: 10px;
        align-items: center;
    }


    .header-nav_menu>ul>li:not(:first-child) {
        margin-left: 5px;
    }

    .header-nav {
        background: #ffffff;
        display: flex;
        justify-content: space-around;
    }
    .header-nav_menu>ul>li>a {
        margin-bottom: 5px;
        font-size: 13px;
        padding: 2px;
        padding-right: 20px;
    }
    .header-banner__content {
        margin-left: 74px;
        margin-top: 140px;
    }

    .header-banner__content>h1 {
        font-size: 25px;
        margin-block-start: 33px;
        margin-block-end: 30px;
    }

    .header-banner__content>p {
        font-size: 17px;
        line-height: 26px;
    }
    .header-banner_gb-img {
        height: 620px;
    }

    .control-img-frame {
        width: 587px;
    }
    .main-bottom-desc_online-control-title > p {
        font-size: 15px;
        padding: 20px;
    }
    .block-like {
        margin-left: 75px;
    }

    .block-comfort {
        margin-right: 15px;
    }
    .cards-container-column {
        width: 255px;
        height: 225px;
    }
    .form-feedsback_bg {
        margin-right: 140px;
    }

    hr {
        position: static;
    }
    .parallax {
        min-height: 258px;
    }

    .header-nav_contacts_section {
        display: flex;
        align-items: baseline;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .contacts-section__phone-text > svg {
        margin-right: 7px;
        width: 30px;
    }

    .contacts-section-whatsapp > svg {
        margin-right: 7px;
        width: 30px;
    }
    .logotype-footer, .logotype-footer:hover, .logotype-footer div {
        font-size: 18px;
    }

    .form-footer {
        margin-left: 100px;
    }

    .footer-form-subscribe>input {
        width: 235px;
    }
    .footer-form-subscribe > label {
        font-size: 16px;
    }
    .footer-nav_brand {
        display: none;
    }

    .footer-row {
        padding-top: 30px;
    }
  }
  /*--- @ MEDIA SCREEN 1024px ---*/

  /*--- @MEDIA SCREEN 768px ---*/
  @media screen and (max-width: 768px) {
    .header-nav_contacts_section {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }
    .header-nav_menu>ul>li>a {
        margin-bottom: 0px;
        font-size: 10px;
        line-height: 14px;
    }

    .header-nav_menu>ul {
        align-items: center;
        margin-left: 0px;
    }

    .contacts-section__phone-text > svg {
        margin-right: 7px;
        width: 20px;
    }

    .contacts-section-whatsapp > svg {
        margin-right: 7px;
        width: 20px;
    }

    .header-banner__content {
        margin-left: 54px;
        margin-top: 30px;
    }
    .header-banner__content>h1 {
        font-size: 26px;
        margin-block-end: 0px;
        margin-block-start: 0px;
        line-height: 38px;
    }

    .header-banner__content>p {
        font-size: 14px;
    }
    .main-bottom-desc_online-control-title > p {
        font-size: 14px;
        text-align: center;
    }
    .control-img-frame {
        height: 384px;
    }

    .header-banner__content {
        margin-top: 0px;
    }
    .form-content-block .form-content_text>p {
        font-size: 16px;
        line-height: 28px;
    }
    .inline-form>button {
        padding: 20px 60px;
        margin-top: 20px;
    }

    .block-like {
        margin-right: 15px;
    }
    .cards-container-column {
        width: 205px;
        height: 225px;
    }
    .cards-container-column > span {
        font-size: 16px;
    }
    .cards-container-column:hover{
        box-shadow: 2px 2px 2px 2px #4e4c4c66;
    }
    .form-footer {
        margin-left: 0px;
    }
    .social {
        display: flex;
        flex-direction: row;
        margin-left: 30px;
        margin-right: 30px;
    }
    .footer-menu {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 20px;
        margin-left: 30px;
    }

    .header-nav_menu {
        display: flex;
        justify-content: flex-start;
        margin-left: -140px;
      }
      .contacts_section_btn {
        margin-left: 15px;
        margin-right: 50px;
      }
      .header-nav_menu > ul > li:last-child {
        margin-right: 25.36px;
      }
      .menu-button-container {
        display: flex;
      }
        .menu-button-container {
        display: flex;
      }
      .menu {
        position: absolute;
        top: 0;
        margin-top: 80px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
      }
      #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      #menu-toggle:checked ~ .menu li {
        border: 1px solid #ebdfdf;
        height: 3.5em;
        padding: 1.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 20px;
        width: 100%;
        color: white;
        background-color: #fff;
      }
      .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
      }
      .header-nav_menu > ul > li:not(:first-child) {
        margin-left: 14.09px;
      }
      .header-nav_menu > ul > li:last-child {
        margin-right: 35.36px;
      }

      .header-nav_brand>a {
        text-decoration: none;
        display: none;
      }
      .header-banner_about_us {
        background-image: url(img/about-us.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 480px;
        display: flex;
        align-items: center;
    }
  } 
   /*--- @MEDIA SCREEN 768px ---*/